/* ESLint config
 *
 * Documentation on rules can be found at:
 * http://eslint.org/docs/rules/ <- Optionally append the rulename
 *
*/

{
  "extends": "airbnb/base",
  "env": {},
  "rules": {

/**
  * App Specific Overrides
  */

  }
}
