[submodule "packages/flow-router-helpers"]
	path = packages/flow-router-helpers
	url = https://github.com/tmeasday/meteor-flow-router-helpers.git
[submodule "packages/collection2"]
	path = packages/collection2
	url = https://github.com/tmeasday/meteor-collection2
[submodule "packages/mocha-core"]
	path = packages/mocha-core
	url = https://github.com/tmeasday/meteor-mocha-core.git
[submodule "packages/validation-error"]
	path = packages/validation-error
	url = https://github.com/meteor/validation-error.git
[submodule "packages/postcss"]
	path = packages/postcss
	url = https://github.com/juliancwirko/meteor-postcss
[submodule "packages/momentum"]
	path = packages/momentum
	url = https://github.com/percolatestudio/meteor-momentum.git
[submodule "packages/meteor-dev-error-overlay"]
	path = packages/meteor-dev-error-overlay
	url = git@github.com:stubailo/meteor-dev-error-overlay.git
