[submodule "packages/flow-router-helpers"]
	path = packages/flow-router-helpers
	url = https://github.com/tmeasday/meteor-flow-router-helpers.git
[submodule "packages/collection2"]
	path = packages/collection2
	url = https://github.com/tmeasday/meteor-collection2
[submodule "packages/mocha-core"]
	path = packages/mocha-core
	url = https://github.com/tmeasday/meteor-mocha-core.git
[submodule "packages/validation-error"]
	path = packages/validation-error
	url = https://github.com/tmeasday/validation-error.git
[submodule "packages/method"]
	path = packages/method
	url = https://github.com/meteor/method
