<template name="Lists_show">
  <div class="page lists-show">
    <nav class="js-title-nav">
      {{#momentum plugin="fade"}}
        {{#if editing}}
          <form class="js-edit-form list-edit-form">
            <input type="text" name="name" value="{{name}}">
            <div class="nav-group right">
              <a href="#" class="js-cancel nav-item">
                <span class="icon-close js-cancel" title={{_ 'Cancel'}}></span>
              </a>
            </div>
          </form>
        {{else}}
          <div class="nav-group">
            <a href="#" class="js-menu nav-item">
              <span class="icon-list-unordered" title={{_ 'Show Menu'}}></span>
            </a>
          </div>

          <h1 class="js-edit-list title-page">
            <span class="title-wrapper">{{list.name}}</span>
            <span class="count-list">{{list.incompleteCount}}</span>
          </h1>

          <div class="nav-group right">
            <div class="nav-item options-mobile">
              <select class="list-edit">
                <option disabled selected>{{_ 'Select an action'}}</option>
                {{#if list.userId}}
                  <option value="public">{{_ 'Make Public'}}</option>
                {{else}}
                  <option value="private">{{_ 'Make Private'}}</option>
                {{/if}}
                <option value="delete">{{_ 'Delete'}}</option>
              </select>
              <span class="icon-cog"></span>
            </div>
            <div class="options-web">
              <a class="js-toggle-list-privacy nav-item">
                {{#if list.userId}}
                  <span class="icon-lock" title={{_ 'Make list public'}}></span>
                {{else}}
                  <span class="icon-unlock" title={{_ 'Make list private'}}></span>
                {{/if}}
              </a>

              <a class="js-delete-list nav-item">
                <span class="icon-trash" title={{_ 'Delete list'}}></span>
              </a>
            </div>
          </div>
        {{/if}}
      {{/momentum}}

      <form class="js-todo-new todo-new input-symbol">
        <input type="text" placeholder={{_ 'Type to add new tasks'}}>
        <span class="icon-add js-todo-add"></span>
      </form>
    </nav>


    <div class="content-scrollable list-items">
      {{#if todosReady}}
        {{#each todo in todos}}
          {{> Todos_item (todoArgs todo)}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">{{_ 'No tasks here'}}</div>
            <div class="subtitle-message">{{_ 'Add new tasks using the field above'}}</div>
          </div>
        {{/each}}
      {{else}}
          <div class="wrapper-message">
            <div class="title-message">{{_ 'Loading tasks...'}}</div>
          </div>
      {{/if}}
    </div>
  </div>
</template>
